parameters:
	ignoreErrors:
		-
			message: '#^Method Patchlevel\\Rango\\Collection\:\:findOne\(\) should return \(TDocument of array\<string, mixed\>\)\|null but returns array\<string, mixed\>\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Collection.php

		-
			message: '#^Method Patchlevel\\Rango\\Collection\:\:findOneAndDelete\(\) should return \(TDocument of array\<string, mixed\>\)\|null but returns array\<string, mixed\>\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Collection.php

		-
			message: '#^Method Patchlevel\\Rango\\Collection\:\:findOneAndReplace\(\) should return \(TDocument of array\<string, mixed\>\)\|null but returns array\<string, mixed\>\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Collection.php

		-
			message: '#^Method Patchlevel\\Rango\\Collection\:\:findOneAndUpdate\(\) should return \(TDocument of array\<string, mixed\>\)\|null but returns array\<string, mixed\>\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Collection.php

		-
			message: '#^Parameter \#1 \$operation of method Patchlevel\\Rango\\Client\:\:run\(\) expects Patchlevel\\Rango\\Operation\\Operation\<list\<mixed\>\>, Patchlevel\\Rango\\Operation\\Distinct given\.$#'
			identifier: argument.type
			count: 1
			path: src/Collection.php

		-
			message: '#^Call to function is_array\(\) with array\<string, mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Cursor.php

		-
			message: '#^Generator expects value type TDocument of array\<string, mixed\>, array\<string, mixed\> given\.$#'
			identifier: generator.valueType
			count: 2
			path: src/Cursor.php

		-
			message: '#^Method Patchlevel\\Rango\\Cursor\:\:toArray\(\) should return array\<int\|string, TDocument of array\<string, mixed\>\> but returns array\<array\<string, mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Cursor.php

		-
			message: '#^Method Patchlevel\\Rango\\Cursor\:\:toArray\(\) should return array\<int\|string, TDocument of array\<string, mixed\>\> but returns list\<array\<string, mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Cursor.php

		-
			message: '#^Method Patchlevel\\Rango\\Operation\\Aggregate\:\:execute\(\) return type with generic class Patchlevel\\Rango\\Cursor does not specify its types\: TDocument$#'
			identifier: missingType.generics
			count: 1
			path: src/Operation/Aggregate.php

		-
			message: '#^Method Patchlevel\\Rango\\Operation\\Find\:\:execute\(\) return type with generic class Patchlevel\\Rango\\Cursor does not specify its types\: TDocument$#'
			identifier: missingType.generics
			count: 1
			path: src/Operation/Find.php

		-
			message: '#^Method Patchlevel\\Rango\\Operation\\FindOne\:\:execute\(\) return type with generic class Patchlevel\\Rango\\Cursor does not specify its types\: TDocument$#'
			identifier: missingType.generics
			count: 1
			path: src/Operation/FindOne.php

		-
			message: '#^Method Patchlevel\\Rango\\Operation\\FindOneAndDelete\:\:execute\(\) return type with generic class Patchlevel\\Rango\\Cursor does not specify its types\: TDocument$#'
			identifier: missingType.generics
			count: 1
			path: src/Operation/FindOneAndDelete.php

		-
			message: '#^Method Patchlevel\\Rango\\Operation\\FindOneAndReplace\:\:execute\(\) return type with generic class Patchlevel\\Rango\\Cursor does not specify its types\: TDocument$#'
			identifier: missingType.generics
			count: 1
			path: src/Operation/FindOneAndReplace.php

		-
			message: '#^Method Patchlevel\\Rango\\Operation\\FindOneAndUpdate\:\:execute\(\) return type with generic class Patchlevel\\Rango\\Cursor does not specify its types\: TDocument$#'
			identifier: missingType.generics
			count: 1
			path: src/Operation/FindOneAndUpdate.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 3
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Cannot access offset ''_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Cannot access offset ''as'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Cannot access offset ''foreignField'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Cannot access offset ''from'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Cannot access offset ''localField'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Parameter \#1 \$filter of method Patchlevel\\Rango\\Query\\FilterBuilder\:\:buildWhere\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Parameter \#1 \$identifier of static method Patchlevel\\Rango\\Sql\\Identifier\:\:quote\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Parameter \#1 \$projection of method Patchlevel\\Rango\\Query\\ProjectionBuilder\:\:buildProjectionColumn\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Parameter \#1 \$string of function ltrim expects string, mixed given\.$#'
			identifier: argument.type
			count: 8
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Parameter \#1 \$string of method PDO\:\:quote\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 8
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Parameter \#1 \$string of method PDO\:\:quote\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Query/AggregationBuilder.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/Query/FilterBuilder.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 6
			path: src/Query/FilterBuilder.php

		-
			message: '#^Parameter \#1 \$array of method Patchlevel\\Rango\\Query\\FilterBuilder\:\:isOperatorArray\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Query/FilterBuilder.php

		-
			message: '#^Parameter \#1 \$filter of method Patchlevel\\Rango\\Query\\FilterBuilder\:\:buildFilter\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Query/FilterBuilder.php

		-
			message: '#^Parameter \#1 \$filter of method Patchlevel\\Rango\\Query\\FilterBuilder\:\:buildWhere\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Query/FilterBuilder.php

		-
			message: '#^Parameter \#1 \$queries of method Patchlevel\\Rango\\Query\\FilterBuilder\:\:buildLogicalOperator\(\) expects list\<array\<string, mixed\>\>, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/Query/FilterBuilder.php

		-
			message: '#^Parameter \#1 \$string of method PDO\:\:quote\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 11
			path: src/Query/FilterBuilder.php

		-
			message: '#^Parameter \#4 \$allOperators of method Patchlevel\\Rango\\Query\\FilterBuilder\:\:buildOperatorFilter\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Query/FilterBuilder.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Query/FilterBuilder.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 14
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 2
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Method Patchlevel\\Rango\\Query\\UpdateBuilder\:\:buildUpdateExpression\(\) should return array\{expression\: string, setData\: array\<string, mixed\>\|null, setOnInsertData\: array\<string, mixed\>\|null\} but returns array\{expression\: non\-falsy\-string, setData\: array\<mixed, mixed\>\|null, setOnInsertData\: array\<mixed, mixed\>\|null\}\.$#'
			identifier: return.type
			count: 1
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Parameter \#1 \$field of method Patchlevel\\Rango\\Query\\UpdateBuilder\:\:baseExpression\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 12
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Parameter \#1 \$field of method Patchlevel\\Rango\\Query\\UpdateBuilder\:\:jsonbExtract\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 8
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Parameter \#1 \$field of method Patchlevel\\Rango\\Query\\UpdateBuilder\:\:jsonbExtractText\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Parameter \#1 \$field of method Patchlevel\\Rango\\Query\\UpdateBuilder\:\:pathLiteral\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 15
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Parameter \#1 \$string of method PDO\:\:quote\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 6
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Query/UpdateBuilder.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/QueryBuilder.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/QueryBuilder.php

		-
			message: '#^Parameter \#1 \$haystack of function str_contains expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/QueryBuilder.php

		-
			message: '#^Parameter \#1 \$identifier of static method Patchlevel\\Rango\\Sql\\Identifier\:\:quote\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/QueryBuilder.php

		-
			message: '#^Parameter \#1 \$projection of method Patchlevel\\Rango\\Query\\ProjectionBuilder\:\:buildProjectionColumn\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/QueryBuilder.php

		-
			message: '#^Parameter \#1 \$string of method PDO\:\:quote\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/QueryBuilder.php

		-
			message: '#^Parameter \#1 \$string of method PDO\:\:quote\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: src/QueryBuilder.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/QueryBuilder.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with MongoDB\\Collection\|Patchlevel\\Rango\\Collection\<array\<string, mixed\>\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with MongoDB\\Database\|Patchlevel\\Rango\\Database will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''_id'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''_id'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 19
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''a'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''age'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''avg'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''b'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''c'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''category'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''count'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''counter'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''counter'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''created'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''d'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''e'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''f'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''first'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''items'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''label'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''last'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''level'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''max'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''metadata'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''min'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''name'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''name'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 9
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''nickname'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''points'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''product'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''product_details'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''profile'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''score'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''score'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''stats'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''tags'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 8
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''total'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''v'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 8
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''val'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset ''value'' on array\|object\|null\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 4
			path: tests/IntegrationTest.php

		-
			message: '#^Method Patchlevel\\Rango\\Tests\\IntegrationTest\:\:getCollection\(\) return type with generic class Patchlevel\\Rango\\Collection does not specify its types\: TDocument$#'
			identifier: missingType.generics
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Parameter \#2 \$array of method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, array\|object\|null given\.$#'
			identifier: argument.type
			count: 9
			path: tests/IntegrationTest.php

		-
			message: '#^Parameter \#2 \$array of method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: tests/IntegrationTest.php

		-
			message: '#^Parameter \#2 \$array of method PHPUnit\\Framework\\Assert\:\:assertArrayNotHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, array\|object\|null given\.$#'
			identifier: argument.type
			count: 4
			path: tests/IntegrationTest.php

		-
			message: '#^Parameter \#2 \$array of method PHPUnit\\Framework\\Assert\:\:assertArrayNotHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: tests/IntegrationTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/IntegrationTest.php

		-
			message: '#^Property Patchlevel\\Rango\\Tests\\IntegrationTest\:\:\$collection with generic class Patchlevel\\Rango\\Collection does not specify its types\: TDocument$#'
			identifier: missingType.generics
			count: 1
			path: tests/IntegrationTest.php

		-
			message: '#^Method Patchlevel\\Rango\\Tests\\PostgresIntegrationTest\:\:getCollection\(\) return type with generic class Patchlevel\\Rango\\Collection does not specify its types\: TDocument$#'
			identifier: missingType.generics
			count: 1
			path: tests/PostgresIntegrationTest.php